---
layout: default
---

<h2>The HPC Certification Forum</h2>

<p><em>The main goal of the  <a href="/about/">HPC Certification Forum (HPC-CF)</a></em> is to ease the provision and uptake of training by clearly categorising, defining and eventually assessing the skills required to efficiently use HPC resources.</p>

<p>
The diversification of HPC practitioners challenges the traditional training approaches, which are not able to satisfy the specific needs of users, often coming from non-traditionally HPC disciplines and only interested in learning a particular set of skills.
HPC practitioners are expected to have various HPC skills, however, those “skills”  have not been well-defined until now. The ability to speak a common language -- among HPC educators and users  -- is critical.
<br>
The HPCCF strives to identify this set of skills for HPC users and reflects this in a <a href="/skills/">skill-tree</a>.
It is our aim to thereby facilitate course offers across HPC sites and to provide a certification procedure for HPC practitioners.
</p>

<h2>News</h2>

<div class="home">
  {% for post in paginator.posts%}
  <div class="post postContent">
    <span  class="postDate"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%Y-%m-%d" }}:</time>
    </span>
    {% if post.tag != null %}
    <span class="postTag">
      {{post.tag}}
    </span>
    {% endif %}
    <span class="postTitle">
    {% if post.nolink != true %}
    <a class='postLink' href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
    {% else %}
    {{post.title}}
    {% endif %}
    </span>
    <br/>
    <span class="postExt">
      {{ post.description }}
    </span>
  </div>
<!-- {{ post.content | strip_html | truncate:200}} -->

  {% endfor %}
  {% if paginator.total_pages > 1 %}
    <nav class="pagination">
      {% if paginator.previous_page %}
        <a class="paginationLink" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
      {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <em class="paginationLink paginationLinkCurrent">{{ page }}</em>
      {% elsif page == 1 %}
        <a class="paginationLink" href="/">{{ page }}</a>
      {% else %}
        <a class="paginationLink" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a class="paginationLink" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% endif %}
    </nav>
  {% endif %}
</div>

<h2>Contributing Institutions</h2>

<div>We have contributors from the following institutions:</div>

<p>
<div class="container institutions">
<div class="row" style="background-color:white; padding-top:10px">
{% for inst in site.data.contr-inst %}
  {% include institution-column.html institution=inst %}
{% endfor %}
</div>
</div>
</p>

<h2>Contact us</h2>
<p>
Feel free to reach out to us via the email address of the executive board: <a href="mailto:hpccf-board@hpc-certification.org">hpccf-board@hpc-certification.org</a>.
</p>
