---
layout: default
---

<h2>The HPC Certification Forum</h2>

<p><em>The goals of the  <a href="/about/">HPC Certification Forum (HPC-CF)</a></em> are:</p>

<ul>
  <li>Standardizing the <span class="hint" title="By HPC knowledge we are inclusive and cover explicit skills relevant to practitioners (users, administrators, ...) of parallel computing resources including data centers and cloud environments.">HPC knowledge representation</span> into fine-grained competencies</li>
  <li>Establishing internationally recognized certificates attesting knowledge</li>
  <li>Supporting an ecosystem around the HPC competencies</li>
</ul>

<p class="box">
  <em>The HPC Certification Forum  is one of those ideas so good and so right that you wonder why no one thought of it before. "The Forum's Steering Board and members have done the technical community an enormous service by providing a concise training in what it takes to be HPC-literate. I wish we had had this thirty years ago.</em><br>
  - John Gustafson, Chief Technology Officer at Ceranovo, inventor of Gustafson's Law in parallel computing
</p>

<iframe width="640" height="385" src="https://www.youtube-nocookie.com/embed/AFPOOxCykOM?start=319" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h2>News</h2>

<div class="home">
  {% for post in paginator.posts%}
  <div class="post postContent">
    <span  class="postDate"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%Y-%m-%d" }}:</time>
    </span>
    {% if post.tag != null %}
    <span class="postTag">
      {{post.tag}}
    </span>
    {% endif %}
    <span class="postTitle">
    {% if post.nolink != true %}
    <a class='postLink' href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
    {% else %}
    {{post.title}}
    {% endif %}
    </span>
    {% if post.description != "" %}
    <br/>
    <span class="postExt">
      {{ post.description }}
    </span>
    {% endif %}
  </div>
<!-- {{ post.content | strip_html | truncate:200}} -->

  {% endfor %}
  {% if paginator.total_pages > 1 %}
    <nav class="pagination">
      {% if paginator.previous_page %}
        <a class="paginationLink" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
      {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <em class="paginationLink paginationLinkCurrent">{{ page }}</em>
      {% elsif page == 1 %}
        <a class="paginationLink" href="/">{{ page }}</a>
      {% else %}
        <a class="paginationLink" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a class="paginationLink" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% endif %}
    </nav>
  {% endif %}
</div>

<h2>Contributing Institutions</h2>

<div>We have currently contributors from the following institutions:</div>

<p>
<div class="container institutions">
<div class="row" style="background-color:white; padding-top:10px">
{% for inst in site.data.contr-inst %}
  {% include institution-column.html institution=inst %}
{% endfor %}
</div>
</div>
</p>

<h2>Contact Us</h2>
<p>
Feel free to reach out to us via the email address of the executive board: <a href="mailto:board@hpc-certification.org">board@hpc-certification.org</a>.
</p>
