div.box{
  padding: 1rem;
  margin-right: 0;
  margin-left: 0;
  border: 0.1em solid black;
  background-color: #ddd;
}

p.question-text{
  font-weight: bold;
}


div.answers-description{
  font-style: italic;
  color: #666;
  font-size: small;
}

div.question-container{
  padding: 1rem;
  margin-right: 0;
  margin-left: 0;
  border: 0.1em solid black;
}
